@import "tailwindcss";
/* .header{
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}

.logo{
  width: 100px;
}

.nav-items{
}
.nav-items > ul{
  display: flex;
  list-style-type: none;
  font-size: 20px;
}

.nav-items > ul > li{
  padding: 10px;
  margin: 10px;
}

.res-container{
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

.res-card{
  width: 200px;
  padding: 10px;
  margin: 10px;
}

.res-card > img{
  width: 200px;
  height: 100px;
}

.res-card:hover{
  border: 2px solid black;
}

.search{
  font-size: 20px;
  padding: 5px;
}

.shim-container{
  display: flex;
}

.shim-card{
  margin: 10px;
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
}
.btn{
  margin : 0 10px;
  width: 100px;
}

.filter{
  display: flex;
  margin: 10px 20px;
}
.user-card{
  border: 1px solid black;
} */